.tela-de-login {
  height: 100vh;
  width: 100%;
  background-image: url('/fordwp.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.tela-de-login::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

app-login-form {
  position: relative;
  z-index: 1;
}
