.pagina-boas-vindas {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem;
  font-family: 'Ford', sans-serif;
  text-align: center;
}

.cartao-apresentacao {
  background: rgb(0, 0, 0);
  padding: 2rem 3rem;
  border-radius: 16px;
  max-width: 800px;
  backdrop-filter: blur(10px);
  border: 5px solid rgba(255, 255, 255, 0.993);
}

.cartao-apresentacao span {
  color: #0099ff;
  font-weight: bold;
}

.vitrine-veiculo {
  margin-top: 2rem;
}

.imagem-destaque-home {
  max-width: 80%;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}